/* line 5, app/assets/stylesheets/feeds.scss */
body.feeds.index {
  min-height: calc(100vh - 51px);
  background-image: url(https://abs.twimg.com/images/themes/theme1/bg.png);
  background-position: left 40px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #C0DEED;
}

/* line 14, app/assets/stylesheets/feeds.scss */
.navbar {
  background-color: #fff;
}

/* line 18, app/assets/stylesheets/feeds.scss */
.navbar-header {
  float: left;
}

/* line 22, app/assets/stylesheets/feeds.scss */
.navbar-right {
  float: right;
}

/* line 26, app/assets/stylesheets/feeds.scss */
.search-bar {
  height: 50px;
  padding-top: 7px;
}

/* line 31, app/assets/stylesheets/feeds.scss */
.fa-twitter {
  color: #00aced;
  font-size: 24px;
}

/* line 36, app/assets/stylesheets/feeds.scss */
.main {
  margin-top: 50px;
  padding-top: 10px;
  min-width: 1000px;
}

/* line 42, app/assets/stylesheets/feeds.scss */
.profile-trends, .follow-footnote {
  width: 290px;
}

/* line 46, app/assets/stylesheets/feeds.scss */
.profileCard {
  background: #fff;
  padding: 10px 0;
  border-radius: 5px;
}

/* line 52, app/assets/stylesheets/feeds.scss */
.user-field .username {
  font-weight: 700;
  font-size: 18px;
  color: inherit !important;
}

/* line 58, app/assets/stylesheets/feeds.scss */
.user-field .screenName {
  color: #66757f;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

/* line 65, app/assets/stylesheets/feeds.scss */
.user-stats div {
  margin-top: 5px;
}

/* line 69, app/assets/stylesheets/feeds.scss */
.user-stats a {
  text-decoration: none;
}

/* line 73, app/assets/stylesheets/feeds.scss */
.user-stats a span:first-child {
  color: #8c9ca9;
  font-size: 10px;
  letter-spacing: .02em;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 81, app/assets/stylesheets/feeds.scss */
.user-stats a span:first-child:hover {
  color: #0084B4;
}

/*a:hover {
  color: #0084B4;
}*/
/* line 89, app/assets/stylesheets/feeds.scss */
.trends {
  background: #fff;
  padding: 10px 0;
  border-radius: 5px;
  margin-top: 10px;
}

/* line 96, app/assets/stylesheets/feeds.scss */
.trends-header {
  margin-bottom: 10px;
}

/* line 100, app/assets/stylesheets/feeds.scss */
.trends-header span:first-child {
  color: #66757f;
  font-size: 18px;
  font-weight: 300;
}

/* line 106, app/assets/stylesheets/feeds.scss */
.trends-list {
  list-style: none;
  padding-left: 0;
}

/* line 111, app/assets/stylesheets/feeds.scss */
.feed-box {
  width: 600px;
}

/* line 115, app/assets/stylesheets/feeds.scss */
.post-tweet-box {
  padding-top: 10px;
  background: #C0DEED;
  border: 1px solid #BFE0EC;
  border-radius: 5px 5px 0 0;
}

/* line 122, app/assets/stylesheets/feeds.scss */
.post-tweet-box div {
  margin: 10px 0;
}

/* line 126, app/assets/stylesheets/feeds.scss */
#upload-image-btn:hover {
  cursor: pointer;
  /* Style as you please, it will become the visible UI component. */
}

/* line 131, app/assets/stylesheets/feeds.scss */
#image-select {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

/* line 137, app/assets/stylesheets/feeds.scss */
#image-preview {
  max-height: 40px;
  max-width: 40px;
}

/* line 140, app/assets/stylesheets/feeds.scss */
#image-preview:hover {
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* line 147, app/assets/stylesheets/feeds.scss */
.post-char-counter {
  margin-right: 10px;
  color: #8899a6;
}

/* line 152, app/assets/stylesheets/feeds.scss */
.tweet {
  background: #fff;
  border: 1px solid #BFE0EC;
  border-top: none;
  padding: 10px 10px;
}

/* line 159, app/assets/stylesheets/feeds.scss */
.tweet-username {
  font-size: 14px;
  font-weight: bold;
  color: #292f33;
}

/* line 165, app/assets/stylesheets/feeds.scss */
.tweet-screenName {
  color: #b1bbc3;
  text-decoration: none;
  font-size: 13px;
}

/* line 171, app/assets/stylesheets/feeds.scss */
.tweet-screenName:hover {
  text-decoration: none;
  color: #b1bbc3;
}

/* line 176, app/assets/stylesheets/feeds.scss */
.tweet p {
  margin-bottom: 0;
}

/* line 180, app/assets/stylesheets/feeds.scss */
.tweet img {
  padding: 10px 0;
}

/* line 184, app/assets/stylesheets/feeds.scss */
.delete-tweet {
  float: right;
}
