/* line 5, app/assets/stylesheets/homepage.scss.erb */
body {
  min-width: 900px;
}

/* line 9, app/assets/stylesheets/homepage.scss.erb */
#homeback {
  background-image: url(/assets/background_1-1304b2bf7e08ad0fa140e8f2c174696db00c07eb2ecc6419d5b3be72381be099.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
}

/* line 18, app/assets/stylesheets/homepage.scss.erb */
.navbar {
  background-color: #fff;
}

/* line 22, app/assets/stylesheets/homepage.scss.erb */
.navbar-header {
  float: left;
}

/* line 26, app/assets/stylesheets/homepage.scss.erb */
.navbar-right {
  float: right;
}

/* line 30, app/assets/stylesheets/homepage.scss.erb */
.fa-twitter {
  color: #00aced;
  font-size: 24px;
}

/* line 35, app/assets/stylesheets/homepage.scss.erb */
.main {
  margin-top: 50px;
}

/* line 39, app/assets/stylesheets/homepage.scss.erb */
.front-card {
  margin-top: 70px;
}

/* line 43, app/assets/stylesheets/homepage.scss.erb */
.welcome, .welcome a {
  color: #fff;
}

/* line 47, app/assets/stylesheets/homepage.scss.erb */
#welcome-text {
  height: 320px;
}

/* line 51, app/assets/stylesheets/homepage.scss.erb */
#welcome-text h1 {
  margin-top: 0;
  margin-bottom: 30px;
}

/* line 56, app/assets/stylesheets/homepage.scss.erb */
#welcome-text p {
  font-size: 20px;
}

/* line 60, app/assets/stylesheets/homepage.scss.erb */
#twit-account {
  text-decoration: underline;
}

/* line 64, app/assets/stylesheets/homepage.scss.erb */
.btn {
  font-size: 14px;
  font-weight: bold;
}

/* line 69, app/assets/stylesheets/homepage.scss.erb */
.log-in, .sign-up {
  padding: 12px;
  background-color: #fff;
  border-radius: 5px;
}

/* line 75, app/assets/stylesheets/homepage.scss.erb */
.log-in {
  padding-bottom: 6px;
}

/* line 79, app/assets/stylesheets/homepage.scss.erb */
.log-in .form-group {
  padding: 0;
}

/* line 83, app/assets/stylesheets/homepage.scss.erb */
.log-in div:nth-child(2) {
  margin-bottom: 5px;
}

/* line 87, app/assets/stylesheets/homepage.scss.erb */
.log-in label, .log-in a {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0;
}

/* line 93, app/assets/stylesheets/homepage.scss.erb */
.log-in label, .sign-up span {
  color: #8899a6;
}

/* line 97, app/assets/stylesheets/homepage.scss.erb */
.sign-up {
  margin-top: 10px;
}

/* line 101, app/assets/stylesheets/homepage.scss.erb */
.dropdown-menu {
  border: none;
}

/* line 105, app/assets/stylesheets/homepage.scss.erb */
.homepage .dropdown-menu {
  left: 0 !important;
}

/* line 109, app/assets/stylesheets/homepage.scss.erb */
.dropdown-menu li {
  padding: 0;
}

/* line 113, app/assets/stylesheets/homepage.scss.erb */
#sign-up-btn {
  background-color: #ffac33;
  background-image: linear-gradient(#ffcc4d, #ffac33);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcc4d, endColorstr=#ffac33, GradientType=0)";
  border-color: #f1a02a;
  color: #292f33;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
