#navMenu {
    position: absolute;
}
#searchBox {
    height: 39px;
}
#searchBtn {
    height: 39px;
}
#searchInput {
    border-right: 1px solid lightgrey;
}
.delete-tweet {
    height: 33px
  }

.main {
    background-color: #c0deed;
}

#bgImg {
    background-image: url('./images/bg.png');
    background-repeat: no-repeat;
    min-width: 100vw;
    position: fixed;
}